*.py[cod]
*.ipynb*
*.swp

test/exp*
test/obs*
test/*.gbi
test/failed.tests.txt
docs/_build

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.ropeproject

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# gemini-specific detritus from unit testing
test/*.db
test/exp
test/obs

# emacs temporary file
.#*

test/*.gts/
