numpy==1.6.0
pyparsing==1.5.7
pysam==0.6
git+https://github.com/arq5x/cyvcf.git@db8b06f510#egg=cyvcf
PyYAML==3.10
pybedtools==0.6.2
python-graph-core==1.8.2
python-graph-dot==1.8.2
bottle==0.11.6
ipython-cluster-helper==0.1.2
git+https://github.com/arq5x/gemini.git@226639f98d#egg=gemini
