<!doctype html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/third_party/jquery/jquery-1.7.1.min.js"><\/script>')</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/third_party/jquery-ui/jquery-ui.min.js"><\/script>')</script>


    <meta charset="utf-8">

    <script src="/static/third_party/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-rowlink.min.js"></script>
    <script src="/static/third_party/bootstrap/js/bootstrap-rowlink.js"></script>
    <link href="/static/third_party/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/third_party/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/static/third_party/bootstrap/css/bootstrap-rowlink.css" rel="stylesheet" />
    <link href="/static/third_party/bootstrap/css/bootstrap-rowlink.min.css" rel="stylesheet" />
	<link href="/static/css/gemini.css" rel="stylesheet" />

    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }

    </style>
    {% block head %} {% endblock %}
</head>
<body>
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    {% block nav %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="#">GEMINI browser</a>

				<div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="query">Query</a></li>

						<ul class="nav">
						  <li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						      Tools
						      <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						      <li><a href="de_novo">de novo mutations</a></li>
                              <li><a href="auto_rec">autosomal recessive mutations</a></li>
                              <li><a href="auto_dom">autosomal dominant mutations</a></li>
						    </ul>
						  </li>
						  <li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						      Docs
						      <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
						      <li><a href="db_schema">GEMINI database schema</a></li>
						    </ul>
						  </li>
						</ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="container">

    {% block body %}  {% endblock %}

    </div>


</body>
</html>
