{% extends "base.j2.html" %}

{% block title %}de novo mutations{% endblock %}

{% block head %}{% endblock %}


{% block body %}

<div class='row page'>


	
	<!--
		<form action="/query" method="GET">
			<input class="span6" type="text" size="100" maxlength="1000" name="query">
			<input type="submit" name="save" value="save">
		</form>
	-->

	
	
	<form class="well span6 offset3">
		<div class="row">
			<div class="span3">
				<p>
					<h3>Identify <em>de novo</em> mutations in:</h3>
					<em>{{dbfile}}</em>
				</p>
			</div>
			<div class="span2 offset1">
				<img src="/static/img/gemini.png" width="150px" class="img-rounded">
			</div>
		</div>
		<hr>
		<div class="control-group">
			<label class="control-label" for="query">
				<strong>Minimum sequence depth required (def. = 30):</strong>
			</label>
			<div class="controls">
				<input class="span6" type="text" name="min-depth">
            </div>
		</div>
		<div class="control-group">
			<label class="checkbox">
				<input type="checkbox" value="True" name = "igv_links" id="igv_links"> Make rows into IGV links (enable port 60151 in IGV)?
			</label>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn btn-large btn-primary" name="submit" value="submit">
					Submit
				</button>
			</div> <!-- end of debug-pane -->
		</div>
	</div>
</form>
	
	
<div class="span12 table-wrapper">
	<table class='table table-striped table-hover table-condensed' data-provides="rowlink">
		<tbody>
			{%for row in rows %}
			<tr> 
                {% if igv_links %}
                    <td>
                    <a href="http://localhost:60151/goto?locus={{row['chrom']}}:{{row['start']}}-{{row['end']}}"></a>
                    </td>
                {% endif %}
				{%for col in row %}
				<td>{{col}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div> <!-- end of debug-pane -->

		
</div><!-- end of page -->

{% endblock %}
